/* style.css */

*, 
*::before,
*::after {
    box-sizing: border-box;

}

*{
    margin: 0;
    padding: 0;
}
 
:root{

    --background-color:#23424A;
    --font-color:#136C72;
    --button-color:#38CFD9;
    --robotoBlack-font-size:48px;
    --robotoRegular-font-size:18px;
    --robotoBold-font-size:21px

 }

body{
    font-family: 'Roboto', sans-serif;
    
}

.main_container{
    background-color: var(--background-color);
    /* max-width: 750px;
    width: 80%; */
    /* padding: 3em;*/
    width: 100%;
}
.container_1{
    padding: 7rem;
    width: 60%;
}
.container_1 h1{
    font-size: var(--robotoBlack-font-size);
    color: white;
}
.container_1 p{
    font-size: var(--robotoRegular-font-size);
    color: white;
    margin-top: 1rem;
    line-height: 1.5;
}


.container_1 .button{
    margin-top: 2.9rem;
}

.container_1 button{
    padding: 1rem 2.5rem;
    border-radius: 2rem;
    background-color: var(--button-color);
    font-size: var(--robotoBold-font-size);
    text-transform: uppercase;
    font-weight: 600;
    border: none;
}

.container_1 button:hover{
    cursor: pointer;
    background-color: var(--font-color);
}