/* style.css */
/* 
////// For this challenge ///////

- All text is in the text.md file

// Requirements
1. Refer to the design specs for the
   overall layout 
2. The image should line up with
   the sidebar in the section
   below

*/
*, *::before, *::after {
    box-sizing: border-box;
}




:root{
    --regular-font:1.3rem;
    --heading-font:3rem;
    --bold-font:2.25rem;

    /*Colors*/
    --background-color:#23424A;
    --button-color:#38CFD9;
    --bottom-background:#136C72;
    --nav-color:#136c72;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

h1 {
    font-size: var(--heading-font);
    margin-top: 0;
}

/*Ensure image never grows beyond its width and to shrink incase the parent is shrinking*/
img{
    max-width: 100%;
}

.hero{
 background-color: var(--background-color);
 padding:6.25rem 0;
 color: #fff;
}
.hero__text{
    width: 62%;
}

.hero__img{
    align-self: flex-start;
    width: 34%;
}

.hero p {
    margin-bottom: 3em;
}


/*Reusable container*/
.container{
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

.row{
    display:flex;
    justify-content: space-between;

}


.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase; 
    color: #23424A;
    font-weight: 900;
    background-color:var(--button-color);
    padding: .75em 2em;
    border-radius: 100px;
}


.btn:hover,
.btn:focus {
    opacity: .75; 
}

/* .container_right{
    margin-top: 3rem;
}
.col_right_text{
   padding-right: 1.8rem;
}

.col_right_text h2{
    color: var(--bottom-background);
}

.col_right_text p{
    margin-bottom: 2rem;
}

.container_left{
    margin-top: 2rem;
    background-color: var(--bottom-background);
    color: #fff;
    text-align: center;
    margin-bottom: 2rem;
    
}


.col_left_text{
    padding: 2rem;
}
.col_left_text .col p{
  padding-bottom: 3rem;
} */


/*
1em is relative to the parent element font size eg if the parent is 16px = 1em, if 20px =1em
em inherits the size of the parent
1rem is relative to the root html element

rem => predictability
em => flexibility and dynamic scaling
*/
.main {
    margin-top: 3em;
    margin-bottom: 2em;
}
.sub-title{
    color:#87629A;
}
.primary-content{
    width: 62%;
}

.sidebar{
    width: 34%;
    text-align: center;
    padding: 1em;
    color:#fff;
    background-color: var(--bottom-background);
}

/* navbar 
Flex parent => Direct children
Flex grow => allows element to grow if there is extra space in the parent element
Flex shrink => allows element to shrink if there is no extra space in the parent component*/
header {
  background-color: var(--nav-color);
  padding: 0.5em 0;
}

.logo{
    margin-right: 1em;
}
.nav{

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;

}

.nav__list{

    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    /* border:1px solid red; */
    font-size: 1rem;
}

.nav__list--primary{
    margin: 0 auto;
}
/*For the plus operator...it does not select the first element in the div
selects those that have nav__items before them

-Margin:0 auto; - centers the element*/
.nav__item  + .nav__item{
    margin-left: 1em;

}

.nav__link{
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
}

.nav__link--button{
    color:var(--bottom-background);
    padding: .25em 1em;
    background: #fff;
    border-radius:10em ;
}

.nav__link:hover{
    opacity:.75;
}

/*Media queries*/
/*600px or smaller - for mobile
Breakpoint-width at which the layout changes eg 600px, 900px, 1200px, 1800px*/
@media (max-width:900px ){

    /*Block allows for stacking*/
    .row{
        display:block;
    }

    .hero__text,
    .hero__img ,
    .primary-content,
    .sidebar{
        width: 100%;
    }

    .hero__img{
        margin-top: 2.5em;
    }
}